:root{
    --cor-de-fundo-principal: #F5F5F5;
    --cor-de-fundo-secundaria: #EAF2FD;
    --cor-de-texto: #464646;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--cor-de-fundo-principal);
    color: var(--cor-de-texto);
    font-family: 'Raleway';
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}
img{
    overflow: hidden;
    overflow-clip-margin: 0;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.all {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about .about__title,
.hobbies .hobbies__title, 
.skills .skills__title,
.academic .academic__title,
.experience .experience__section__title,
.formcontato .formcontato__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
}


/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

section.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 56px;
    width: 100%;
}

header{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

header h3{
    font-size: 16px;
    line-height: 18px;
}

header img{
    width: 24px;
    height: 24px;
}

.menu__list{
    display: flex;
    gap: 32px;
    font-size: 14px;
    line-height: 16px;
}

.menu__list__item{
    display: none;
}

/*Sessão Title*/

.title__div{
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px
}

.title__profile {
    width: 98px;
    border-radius: 50%;
}

.title__container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title__subsection{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.44px;
}

.title__network {
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.title__network__item{
    font-size: 14px;
    font-weight: 600;
    line-height: 16.44px;
}    

/*Sessão About*/

section.about{
    background-color: var(--cor-de-fundo-secundaria);
    width: 100%;
    display: flex;
    justify-content: center;
}

section.about p {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.44px;
}

.about__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px;

}


/*Sessão Skills*/

section.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 32px;
}

.skills__line{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.skills__box{
    display: flex;
    width: 156px;
    height: 118px;
    padding: 16px;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
}

.skills__box ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;
}


/*Sessão Hobbies*/

section.hobbies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 32px;
}

.hobbies__line{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.hobbies__box{
    display: flex;
    width: 156px;
    height: 118px;
    padding: 16px;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
}

.hobbies__box ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;
}

/* Experiência Acadêmica*/

section.academic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--cor-de-fundo-secundaria);
    padding: 32px;
    gap: 32px;    
}

.academic__courses{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.academic__courses__list{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.academic__courses__box{
    width: 296px;
}

.academic__courses__item__img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 118px;
    background-color: #FFFFFF;
}

.academic__courses__item__img img{
    width: 120px;
}

.academic__courses__item__title{
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
}

.academic__courses__item__subtitle{
    font-size: 14px;
    font-weight: 500;
    line-height: 16.44px;
}

/* experiência*/

section.experience{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 32px;
    gap: 16px;
}

.experience__box{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.experience__img {
    width: 296px;
    height: 144px;
    gap: 0px;
    opacity: 0px;
}

.experience__info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.experience__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
}

.experience__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.44px;
}

.experience__description{
    display: flex;
    width: 96px;
    height: 40px;
    gap: 16px;
}    

.experience__repo button{
    width: 108px;
    height: 40px;
    padding: 12px 16px;
    gap: 10px;
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.44px;
}

.experience__repo button:hover{
    background-color: #2A7AE4;
    color: #FFFFFF;
}

.experiencia__botao--demo{
    width: 108px;
    height: 40px;
    padding: 12px 16px;
    gap: 10px;
    background-color: #2A7AE4;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.44px;   
}

.experiencia__botao--demo:hover{
    background-color: #FFFFFF;
    color: #2A7AE4;
}

/*Contato*/

section.formcontato{
    display: flex;
    justify-content: center;

    padding: 32px;
    gap: 10px;
    background-color: var(--cor-de-fundo-secundaria);
    width: 100%;
}

.formcontato__img{
    display: none;
}

.formcontato__contacto{
    overflow: hidden;
}

.formcontato__text{
    gap: 32px;
    display: flex;
    flex-direction: column;
}

.formcontato__subtext{
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
}

.formcontato__form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
}

.formcontato__input{
    border: none;
    height: 56px;
    padding: 16px;
    gap: 4px;
    border-radius: 4px;
    color: #A2A2A2;
    box-shadow: 0px 1.6px 0px -0.5px rgba(0, 0, 0, 0.257);
}

.formcontato__input::placeholder{
    color: #A2A2A2;
}

.formcontato__input:focus-visible{
    outline: none;
    border: none;
    box-shadow: 0px 2px 0px -0.5px #2A7AE4;
}

.formcontato__textarea{
    border: none;
    padding: 16px;
    gap: 4px;
    border-radius: 4px;
    color: #A2A2A2;
    box-shadow: 0px 1.6px 0px -0.5px rgba(0, 0, 0, 0.257);
}

.formcontato__textarea::placeholder{
    color: #A2A2A2;
}

.formcontato__textarea:focus-visible{
    outline: none;
    border: none;
    box-shadow: 0px 2px 0px -0.5px #2A7AE4;
}

.formcontato__botao{
    width: 151px;
    height: 40px ;  
    background-color: #2A7AE4;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.44px;
    border: none;
}


/*footeer*/

.footer__rodape{
    height: 102px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Desktop*/
@media (min-width: 769px) {

    .hobbies .hobbies__title, 
    .skills .skills__title,
    .academic .academic__title,
    .experience .experience__section__title,
    .formcontato .formcontato__title {
        font-size: 32px;
        font-weight: 700;
        line-height: 37.57px;
    }


/* Menu */

section.menu{
    padding: 32px, 0px;
    height: 88px;
    width: 1136px;
}

.menu .menu__list__item{
    display: flex;
}

/*title*/

.title .title__div{
    width: 1136px;
    justify-content: space-between;
    padding: 16px;
}

.title .title__container {
    width: 751px;
    gap: 24px;
}

.title .title__profile {
    width: 368px;
    height: 368px;
}

.title .title__bio {
    font-size: 52px;
    font-weight: 700;
    line-height: 61.05px;
}

.title .title__subsection {
    font-size: 22px;
    font-weight: 400;
    line-height: 25.83px;    
}

.title .title__network__item {
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
}

/*Sessão sobre*/

section.about p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18.78px;
}

.about__container {
    width: 1136px;
    gap: 10px
}

.about .about__title{
    margin-bottom: 16px; 
}

/*Skills*/

.skills .skills__box{
    width: 176px;
    height: 174px;
}

/*Hobbies*/

.hobbies .hobbies__box{
    width: 176px;
    height: 174px;
}

/*Experiências acadêmicas*/

.academic .academic__courses__box{
    width: 368px;
}

.academic .academic__courses__list {
    width: 368px;
}

.academic .academic__courses__item__img {
    width: 368px;
    height: 286px;
    background-color: #ffffff;
}

.academic__courses__item__img img{
    width: 160px;
}

.academic .academic__courses__item__title{
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
}

.academic .academic__courses__item__subtitle{
    font-size: 14px;
    font-weight: 500;
    line-height: 16.44px;
}


/*Expeirência profissional*/

.experience .experience__box{
    flex-direction: row;
    gap: 16px;
}

.experience .experience__img {
    width: 752px;
    height: 406px;    
}

.experience .experience__info{
    justify-content: center;
}

.experience .experience__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
}   

.experience .experience__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
}

.formcontato__contacto{
    display: flex;
    gap: 16px;
}

.formcontato__img{
    display: flex;
}

}

/*Tablet*/
@media (min-width: 361px) {

/*Menu*/

section.menu{
    padding: 16px, 32px;
}

.menu__list__item{
    display: none;
}

.menu .menu__list__item__contato{
    font-size: 14px;
    font-weight: 700;
}

/*Titulo*/

.title__div{
    flex-direction: row-reverse;
    gap: 32px;
    padding: 32px;
}

.title__profile {
    width: 146px;
    height: 146px;
}

.title__network {
    justify-content: flex-start;
    gap: 32px;
}


/*Sessão sobre*/

/*Skills*/

.skills__box{
    width: 224px;
}
/*Hobbies*/

.hobbies__box{
    width: 224px;
}

/*Formação Acadêmica*/

.academic__courses{
    gap: 16px;
}

.academic__courses__box{
    width: 224px;
}

.academic__courses__item__img {
    width: 224px;
    height: 174px;
    background-color: #ffffff;
}

/*Experiência Profissional*/

.experience__img {
    width: 704px;
    height: 320px;
}

}
